:root{
	--indicatorcolor: #00acee;
	--numOfTabs: 1;
}

.sqab_modal {
	display: block;
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.sqab_tabs {
    font-family: sans-serif;
    position: fixed; /* Change to fixed for modals for better overlay handling */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Default width for medium screens */
    max-width: 800px; /* Maximum width to limit the modal size */
    min-height: 120px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 10px 5px #f1f1f1;
    z-index: 1000;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .sqab_tabs {
        width: 80%; /* Adjust width for smaller screens */
    }
}

/* Media query for very small screens */
@media only screen and (max-width: 480px) {
    .sqab_tabs {
        width: 90%; /* Further adjust width for very small screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}


#sqab_modalInput,
#sqab_add_label_input,
#sqab_targetList {
	width: 100%;
	height: 40px;
	position: relative;
	border-radius: 0px 5px 5px 0px;
	border-color: #f5f5f5;
}

#sqab_modalInput {
	outline-color: var(--indicatorcolor);
}

.sqab_divider {
	border: 1px solid rgba(229, 229, 229, 0.499);
	color: gray;
	border-radius: 3px;
	padding: 0.5%;
	margin-right: 1%;
	pointer-events: none;
	display: inline-block;
}

.sqab_tabs .sqab_tab-header {
	height: 40px;
	display: flex;
	align-items: center;
	position: relative;
	font-family: sans-serif;
}

.sqab_tabs .sqab_tab-header > div {
	width: calc((100% / var(--numOfTabs)));
	text-align: center;
	color: #888;
	font-weight: 600;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
}

.sqab_tabs .sqab_tab-header > div.active {
	color: var(--indicatorcolor);
}

.sqab_tabs .sqab_tab-indicator {
	position: relative;
	width: calc((100% / var(--numOfTabs)));
	height: 5px;
	background: var(--indicatorcolor);
	left: 0px;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
}

.sqab_tabs .sqab_tab-body {
	position: relative;
}

.sqab_tabs .sqab_tab-body > div {
	display: none;
}

#sqab_mydiv {
	position: fixed;
	z-index: 1000;
	text-align: center;
	right: -100px;
	transition: right 0.3s ease-in-out;
	cursor: pointer;
	top: 200px;
	border-radius: 5px;
	background-color: white;
	opacity: 0.7;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

#sqab_mydivheader {
	padding: 5px;
	width: 115px;
	height: 40px;
	padding-left: 15px;
	z-index: 1000;
	border-radius: 5px;
	border: 5px solid aliceblue;
	color: #898a8b;
	opacity: 0.7;
	font-weight: 600;
}

#sqab_mydiv:hover {
	cursor: auto;
	opacity: 1;
	right: -15px;
	cursor: pointer;
}

#sqab_mydivheader:hover {
	opacity: 1;
}

#sqab_mydivheader::after {
	content: "Shortcuts";
}

.sqab_tabs .sqab_tab-body > div.active {
	top: 0px;
	opacity: 1;
	transform: scale(1);
	margin-top: 0px;
	display: block;
}

.sqab_suggestions-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
}

.sqab_body_shortcuts {
	max-height: 150px;
	overflow: auto;
	position: relative;
}

.sqab_suggestions {
	color: var(--indicatorcolor);
	font-size: 14px;
	padding: 10px 12px;
	cursor: pointer;
	border-radius: 5px;
}

.sqab_suggestions-dropdown-item {
	padding: 10px;
	cursor: pointer;
	color: var(--indicatorcolor);
	font-family: sans-serif;
}

#sqab_loading-screen {
	position: absolute;
	transition: transform 0.5s ease; 
	animation: spin 1s infinite linear; 
	top: 8px;
	right: 10px;
	/* width: 100%; */
	/* height: 100%; */
	/* background-color: rgba(175, 175, 175, 0.445); */
	/* display: flex; */
	justify-content: center;
	font-size: medium;
	align-items: center;
	z-index: 9999;
	display: none;
}

.sqab_success {
	background: #4cbe83 no-repeat 10px 50%;
	border: 1px solid #36ad6f;
}

.sqab_alert-box {
	color: #555;
	font-family: Tahoma, Geneva, Arial, sans-serif;
	font-size: 11px;
	padding: 10px 36px;
	color: #fff;
	border-radius: 5px;
	display: none;
}

.sqab_alert-box.success {
	background: #4cbe83 no-repeat 10px 50%;
	border: 1px solid #36ad6f;
}

.sqab_alert-box.error {
	background: #be4c4c no-repeat 10px 50%;
	border: 1px solid #be4c4c;
}

.sqab_alert-box.show {
	display: block;
}

.sqab_add_section {
	display: flex;
	flex-direction: column;
}

.sqab_add_section.hide {
	display: none;
	flex-direction: column;
}



#sqab_slide-out-menu {
	position: fixed;
	top: 0;
	right: -430px;
	width: 430px;
	height: 100%;
	background-color: #f2f2f2;
	z-index: 9999;
	transition: right 0.3s ease-in-out;
}

#sqab_apitoggle{
	border-radius: 5px 0px 0px 5px;
    border-color: rgb(245, 245, 245);
    border: medium;
}
#sqab_apitoggle.hide{
	display: none;
}

#sqab_menu-button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 99999;
}

.sqab_close-btn {
	font-size: x-large;
	font-weight: bold;
	color: #000;
	cursor: pointer;
}

.sqab_row {
	padding: 5px;
}

.sqab_col {
	padding: 10px;
}

#sqab_addSave {
	padding: 10px;
	width: 50%;
	border: 1px solid var(--indicatorcolor);
	border-radius: 5px;
	background-color: var(--indicatorcolor);
	font-weight: bold;
	color: white;
}

.sqab_tabs .sqab_tab-body > div.active {
	top: 0px;
	opacity: 1;
	transform: scale(1);
	margin-top: 0px;
	display: block;
}

.sqab_modal > .sqab_tabs {
	font-family: sans-serif;
	min-height: 120px;
	box-shadow: rgb(204 204 204 / 29%) 5px 10px 5px;
	position: unset;
	display: block;
	transform: none;
	background: rgba(255, 255, 255, 0.966);
	padding: 20px 50px 0px 20px;
	border-radius: 30px;
	transition: none 0s ease 0s;
	margin: 33vh auto;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.sqab_side_icons {
	position: absolute;
    right: -35px;
	font-size: large;
	cursor: pointer;
	transition: transform 0.5s ease; 
}

#sqab_settings_icon {
	top: -10px;
}
#sqab_monitoring_icon {
	top: 23px;
}
#sqab_add_icon {
	top: 54px;
}

.sqab_side_icons:hover {
	animation: spin 1s infinite linear; 
}


.sqab_body_shortcuts::-webkit-scrollbar {
	display: none;
  }
