#sqab_p_monitoring_pageCounter {
    padding: 10px;
  }

  .sqab_p_monitoring_hide-me{
    display: none;
  }
  .sqab_p_monitoring_container {
    padding: 10px;
    text-align: -webkit-center;
    min-width: 300px;
    height: 100vh;
    overflow-y: auto;
  }
  .sqab_filter-input {
    padding: 5px;
    margin-bottom: 10px;
    /* Add any other styling you want */
}
  .sqab_search-container {
    display: none;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #00A1E0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the dropdown */
  .sqab_p_monitoring_search-dropdown {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: auto;
    appearance: none;
    min-width: 80px;
  }
  
  /* Adjust the input field and button to align properly */
  .sqab_p_monitoring_search-input {
    padding: 10px;
    border: none;
    border-radius: 0;
    border-left: 1px solid #ccc;
  }
  
  .sqab_p_monitoring_search-button {
    padding: 10px 20px;
    background-color: #00A1E0;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .sqab_p_monitoring_sqab_result-container {
    display: none;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
    padding: 20px;
    border: 2px solid #00A1E0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .sqab_p_monitoring_edit-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #0070d2;
  }

#sqab_p_monitoring_jsonTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#sqab_p_monitoring_jsonTable th, #sqab_p_monitoring_jsonTable td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left;
}

#sqab_p_monitoring_jsonTable th {
  background-color: #f4f6f9;
  font-weight: bold;
}

#sqab_p_monitoring_jsonTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#sqab_p_monitoring_jsonTable tr:hover {
  background-color: #f0f5ff;
}

.sqab_p_monitoring_filter-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: -webkit-fill-available;
}

/* Color coding for percentage cells */
#sqab_p_monitoring_jsonTable td:nth-child(4) {
  color: #fff;
  text-align: center;
}

#sqab_p_monitoring_jsonTable td.sqab_p_monitoring_percentage-green {
  background-color: #00b25c;
}

#sqab_p_monitoring_jsonTable td.sqab_p_monitoring_percentage-orange {
  background-color: #ffab00;
}

#sqab_p_monitoring_jsonTable td.sqab_p_monitoring_percentage-red {
  background-color: #ff4b4b;
}
