.sqab_pop_hide {
    display: none !important;
}

.sqab_pop_tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}

.sqab_pop_tags li {
    float: right; 
}

.sqab_pop_tag {
    background: #f7d8d8;
    border-radius: 15px;
    color: rgb(71, 71, 71);
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 ;
    font-size: 10px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    text-decoration: none;
}

.sqab_pop_tag.sqab_my_org{
    background: rgba(184, 184, 252, 0.84);
}

.sqab_pop_modal {
    display: block; 
    position: absolute; 
    z-index: 100; 
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}
#sqab_hotkey_input{
margin: 0;
}

.sqab_p_settings_tab-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.sqab_p_settings_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    flex-grow: 1;
    margin: 0 5px;
}

.sqab_p_settings_tab:hover, .sqab_p_settings_tab.active {
    transform: scale(1.1);
}



.sqab_p_checkbox{
    margin-top: 10px; 
    display: inline;
}

.sqab_p_settings_icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.sqab_p_settings_tab span {
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.sqab_p_settings_tab:hover span, .sqab_p_settings_tab.active span {
    opacity: 1;
}

.sqab_p_settings_content-container {
    height: 85vh;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.sqab_p_settings_content {
    display: none;
}

.sqab_p_settings_content-container > div:first-child {
    display: block;
}

.mypreferences fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.mypreferences legend {
    font-weight: bold;
    padding: 0 10px;
    margin-left: 10px;
}

.mypreferences div {
    text-align: left;
}

.mypreferences input[type="checkbox"] {
    margin-left: 10px;
}

.mypreferences button {
    margin-top: 10px;
}

.preferenceTitle {
    font-weight: bold;
}


.sqab_pop_inputlabel,
.sqab_pop_inputvalue {
    width: calc(100% - 20px);
}

#sqab_p_settings_content {
    font-size: 18px;
}



#sqab_ResetFavoritesBtn{
    margin: 10px 0px 0px 10px;
}


#dynamicTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#dynamicTable th, #dynamicTable td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left;
}

#dynamicTable th {
  background-color: #f4f6f9;
  font-weight: bold;
}

#dynamicTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#dynamicTable td {
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    max-width: 0px;
}

#dynamicTable tr:hover {
  background-color: #f0f5ff;
}


.sqab_p_settings_tab_container {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sqab_p_settings_tab_container > div {
    margin-bottom: 20px;
}

.sqab_p_settings_tab_picklist {
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0;
    min-height: 200px;
    background: #fafafa;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.sqab_p_settings_tab_picklist li {
    padding: 8px;
    margin-bottom: 4px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sqab_p_settings_tab_picklist li:hover {
    background-color: #ececec;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sqab_p_settings_tab_h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}
